/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01m4X0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5UYX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KYX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAoX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEEYX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRYX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local("PT Serif Bold"), local("PTSerif-Bold"), url(https://fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpPZraR2Tg8w2lzm7kLNL0-w.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local("PT Serif Bold"), local("PTSerif-Bold"), url(https://fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpF4sYYdJg5dU2qzJEVSuta0.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local("PT Serif Bold"), local("PTSerif-Bold"), url(https://fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpKE8kM4xWR1_1bYURRojRGc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local("PT Serif Bold"), local("PTSerif-Bold"), url(https://fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpIgp9Q8gbYrhqGlRav_IXfk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Aleo_Light';
  src: url("https://recipescdn.shubhojyoti.info/assets/fonts/Aleo-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 22, ../../../scss/partials/_general.scss */
* {
  box-sizing: border-box;
}

/* line 26, ../../../scss/partials/_general.scss */
html {
  font-size: 16px;
  font-size: calc( 15px + 0.5vmin );
  min-height: 100%;
  overflow-x: hidden;
  max-width: 1900px;
}

/* line 34, ../../../scss/partials/_general.scss */
body {
  background: #fffee9 url(https://recipescdn.shubhojyoti.info/assets/images/back.jpg) top center no-repeat;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  min-height: 100%;
  overflow-x: hidden;
}

/* line 42, ../../../scss/partials/_general.scss */
h1, h2, h3, h4 {
  font-family: "PT Serif", serif;
  font-weight: 800;
}

/* line 47, ../../../scss/partials/_general.scss */
ul {
  list-style: none;
}

/* line 52, ../../../scss/partials/_general.scss */
a:link, a:visited {
  color: #541c02;
}
/* line 56, ../../../scss/partials/_general.scss */
a:hover {
  color: #333333;
}
/* line 60, ../../../scss/partials/_general.scss */
a:active {
  color: #541c02;
}

/* line 65, ../../../scss/partials/_general.scss */
button, .button {
  background-color: #541c02;
}
/* line 5, ../../../scss/partials/_general.scss */
button:hover, button:focus, .button:hover, .button:focus {
  background-color: #000000;
}
/* line 9, ../../../scss/partials/_general.scss */
button .radius, .button .radius {
  border-radius: 5px;
}

/* line 69, ../../../scss/partials/_general.scss */
a:link.button, a:visited.button {
  color: #ffffff;
}

/* line 73, ../../../scss/partials/_general.scss */
blockquote {
  margin-left: 2em;
}

/* line 77, ../../../scss/partials/_general.scss */
.full-wrap {
  min-height: 100%;
}

/* line 81, ../../../scss/partials/_general.scss */
.row {
  max-width: 100em;
}

/* line 85, ../../../scss/partials/_general.scss */
h1 {
  font-size: 3.2rem;
}

/* line 89, ../../../scss/partials/_general.scss */
h2 {
  font-size: 3rem;
}

/* line 93, ../../../scss/partials/_general.scss */
h3 {
  font-size: 2.8rem;
}

/* line 97, ../../../scss/partials/_general.scss */
h4 {
  font-size: 2rem;
}

/* Prevents img without src to appear */
/* line 102, ../../../scss/partials/_general.scss */
img:not([src]) {
  visibility: hidden;
}

/* Fixes Firefox anomaly */
@-moz-document url-prefix() {
  /* line 108, ../../../scss/partials/_general.scss */
  img:-moz-loading {
    visibility: hidden;
  }
}
/* Main Header */
/* line 2, ../../../scss/partials/_header.scss */
.header {
  position: relative;
}

/* line 6, ../../../scss/partials/_header.scss */
.mylogo {
  padding: 0.35em 0;
  position: relative;
}

/* line 12, ../../../scss/partials/_header.scss */
.mylogo > :first-child .logosvg {
  width: 430px;
  transition: width 0.2s;
}
@media only screen and (max-width: 550px) {
  /* line 12, ../../../scss/partials/_header.scss */
  .mylogo > :first-child .logosvg {
    width: 320px;
  }
}
@media only screen and (max-width: 410px) {
  /* line 21, ../../../scss/partials/_header.scss */
  .mylogo > :first-child .logosvg .svglogotext {
    display: none;
  }
}

/* line 28, ../../../scss/partials/_header.scss */
.prisocial {
  bottom: 0;
  right: 0;
  padding: 0;
  text-align: right;
  padding-right: 2em;
}
/* line 35, ../../../scss/partials/_header.scss */
.prisocial a {
  padding: 0.35em 0.25em;
  border: 1px solid #541c02;
  border-radius: 50%;
}
/* line 40, ../../../scss/partials/_header.scss */
.prisocial a:link, .prisocial a:visited {
  display: inline-block;
  font-size: 1em;
  margin-right: 10px;
}
/* line 46, ../../../scss/partials/_header.scss */
.prisocial a:hover {
  color: #eeb188;
  background-color: #541c02;
}
/* line 51, ../../../scss/partials/_header.scss */
.prisocial a span {
  text-align: center;
}

/* Top Navigation */
/* line 58, ../../../scss/partials/_header.scss */
.mytopnav {
  background: #541c02 url(https://recipescdn.shubhojyoti.info/assets/images/primarynavribbon.png) repeat-x;
  height: 49px;
  position: relative;
  z-index: 2;
}
/* line 64, ../../../scss/partials/_header.scss */
.mytopnav ul {
  list-style-type: none;
}
/* line 67, ../../../scss/partials/_header.scss */
.mytopnav ul > li {
  display: inline-block;
  padding: 0.5em 1.5em;
  box-sizing: border-box;
}
/* line 73, ../../../scss/partials/_header.scss */
.mytopnav ul > li > a:link, .mytopnav ul > li > a:visited {
  box-sizing: border-box;
  color: #fff;
  font-size: 0.8em;
  vertical-align: 0.1rem;
}
/* line 80, ../../../scss/partials/_header.scss */
.mytopnav ul > li > a:hover {
  color: #ffff00;
  font-weight: bold;
}
/* line 87, ../../../scss/partials/_header.scss */
.mytopnav ul:first-child {
  padding-left: 0;
}

@media only screen and (max-width: 64em) {
  /* line 94, ../../../scss/partials/_header.scss */
  .mylogo {
    padding-left: 1em;
  }
}
/* line 1, ../../../scss/partials/_home.scss */
#recentrecipes {
  margin-top: 2.5em;
  border-top: 1px solid #EEE1BE;
  position: relative;
  text-align: center;
}
/* line 7, ../../../scss/partials/_home.scss */
#recentrecipes h2 {
  color: #58592e;
  font-family: 'PT Serif', serif;
  font-size: 1.2em;
  letter-spacing: 1px;
  padding: 0 10px 0.3em 10px;
  position: relative;
  top: -0.75em;
  display: inline-block;
  width: auto;
  background: #fffee9;
}
/* line 20, ../../../scss/partials/_home.scss */
#recentrecipes > * {
  text-align: left;
}

/* line 25, ../../../scss/partials/_home.scss */
.recipeentry {
  padding: 1em;
  margin: 0;
  margin-top: -1.5em;
}
/* line 30, ../../../scss/partials/_home.scss */
.recipeentry figure {
  border: 1px solid #ccc;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 10px;
  display: table;
  transition: transform 0.25s ease-in;
}
/* line 38, ../../../scss/partials/_home.scss */
.recipeentry figure:hover {
  transform: translate3d(0, -5px, 0);
  box-shadow: 0 5px 0 0 #ccc;
}
/* line 43, ../../../scss/partials/_home.scss */
.recipeentry figure figcaption {
  font-size: 0.8rem;
  padding-top: 0.45em;
  color: #333;
  text-align: center;
}

/* Main Content */
/* line 2, ../../../scss/partials/_main.scss */
.mainwrap {
  border-left: 1px solid #EEE1BE;
  border-right: 1px solid #EEE1BE;
  background: #fffee9;
  max-width: 120em;
  width: 95%;
  position: relative;
}
/* line 10, ../../../scss/partials/_main.scss */
.mainwrap main {
  margin-bottom: 1em;
}

/* line 15, ../../../scss/partials/_main.scss */
.description {
  font-size: 1em;
  color: #7E632B;
}

/* line 20, ../../../scss/partials/_main.scss */
.ind-post {
  background: url("https://recipescdn.shubhojyoti.info/assets/images/divider.png") bottom center no-repeat;
  margin: 1.5em 0;
  padding-bottom: 1.5em;
}

/* line 26, ../../../scss/partials/_main.scss */
#recipemaincontent {
  outline: none;
}

/* line 30, ../../../scss/partials/_main.scss */
.content-post {
  padding: 0 0 1em;
  color: #111111;
}
/* line 34, ../../../scss/partials/_main.scss */
.content-post > p {
  color: #111111;
}
/* line 38, ../../../scss/partials/_main.scss */
.content-post h4 {
  margin: 0.5em 0;
  color: #58592E;
  font-weight: bold;
  font-size: 2em;
}
/* line 45, ../../../scss/partials/_main.scss */
.content-post ul {
  line-height: 1.8;
}

/* line 50, ../../../scss/partials/_main.scss */
.pagetitle {
  border-bottom: 1px solid #EEE1BE;
  padding-bottom: 0.3em;
}

/* line 55, ../../../scss/partials/_main.scss */
.page-post {
  background: none;
  margin-bottom: 0;
}
/* line 59, ../../../scss/partials/_main.scss */
.page-post .pagetitle {
  margin-left: 1rem;
  padding-left: 0;
  font-size: 2.5rem;
}

/* line 66, ../../../scss/partials/_main.scss */
.smallmeta, .row .row .smallmeta {
  text-transform: uppercase;
  padding: 0.5em 0 0;
  border-top: 1px solid #EEE1BE;
  margin-right: 1em;
}

/* line 76, ../../../scss/partials/_main.scss */
.row .row .smallmeta {
  margin: 1em 0 0;
}

/* line 84, ../../../scss/partials/_main.scss */
.smallmeta > * {
  margin-right: 1.5em;
  color: #777;
  margin-bottom: 1em;
  font-size: 0.7rem;
  font-style: normal !important;
}
/* line 92, ../../../scss/partials/_main.scss */
.smallmeta > * > a:link, .smallmeta > * > a:visited {
  color: #777;
}
/* line 96, ../../../scss/partials/_main.scss */
.smallmeta > * > a:hover {
  text-decoration: underline;
}

/* line 103, ../../../scss/partials/_main.scss */
.catmeta {
  padding: 0 1em;
}
/* line 106, ../../../scss/partials/_main.scss */
.catmeta a:link, .catmeta a:visited {
  margin-right: 0.5em;
  padding: 0.25em 1em;
  border: 1px solid #DBDAA3;
  font-size: 0.8em;
  float: left;
  margin-bottom: 1em;
}
/* line 117, ../../../scss/partials/_main.scss */
.catmeta a:hover {
  text-decoration: underline;
}

/* line 122, ../../../scss/partials/_main.scss */
.post > .post {
  margin-top: 1.5em;
}

/* line 126, ../../../scss/partials/_main.scss */
.recipeimage {
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0 0 5px #ccc;
  border: 1px solid #ddd;
  display: table;
  position: relative;
}
/* line 134, ../../../scss/partials/_main.scss */
.recipeimage figcaption {
  text-align: center;
  background-color: rgba(70, 25, 5, 0.8);
  color: #ffffff;
  opacity: 0.9;
  position: absolute;
  padding: 0.3em;
  bottom: 10px;
  left: 10px;
  right: 10px;
  font-size: 0.8em;
  font-style: italic;
}

/* line 149, ../../../scss/partials/_main.scss */
.recipeimagesingle {
  margin: 0 auto;
  display: table;
  padding: 10px;
  box-shadow: 0 0 5px #ccc;
  border: 1px solid #ddd;
  margin-bottom: 1.5em;
}
/* line 157, ../../../scss/partials/_main.scss */
.recipeimagesingle figcaption {
  text-align: left;
  background-color: rgba(70, 25, 5, 0.8);
  color: #fff;
  opacity: 0.9;
  position: absolute;
  padding: 0.5em;
  bottom: 20px;
  left: 10px;
  right: 10px;
  font-size: 1.2em;
  font-style: normal;
}

/* line 172, ../../../scss/partials/_main.scss */
.postextrainfo {
  margin-bottom: 1em;
}

/* line 176, ../../../scss/partials/_main.scss */
.postextras {
  padding: 1em 0;
  background-color: #F5F8E2;
  border: 1px solid #EEE1BE;
  font-size: 0.8em !important;
}

/* line 183, ../../../scss/partials/_main.scss */
.readmore {
  margin-top: 1em;
}

/* line 187, ../../../scss/partials/_main.scss */
.readmore > a:link {
  border-radius: 0 !important;
}

/* line 191, ../../../scss/partials/_main.scss */
.but-right {
  float: right;
}

/* Footer */
/* line 196, ../../../scss/partials/_main.scss */
footer {
  background-color: #333333;
  border-top: 1px solid #111;
  box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.8);
  padding: 1em;
}
/* line 202, ../../../scss/partials/_main.scss */
footer div {
  text-align: center;
  color: #ffffff;
  font-size: 0.8em;
}
/* line 208, ../../../scss/partials/_main.scss */
footer div a:link, footer div a:visited {
  color: orange;
}

/* Skip Content */
/* line 216, ../../../scss/partials/_main.scss */
.skipcontent {
  display: block;
  width: 1px;
  height: 1px;
  background: #f5f8e2;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: -1000;
}

/* line 227, ../../../scss/partials/_main.scss */
.skipcontent:focus {
  width: 100%;
  outline: 1px solid #EEE1BE;
  text-align: center;
  height: auto;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 5px;
}

/* line 238, ../../../scss/partials/_main.scss */
.singletitle {
  color: #541c02;
}

/* line 242, ../../../scss/partials/_main.scss */
.extratext {
  margin-top: 3em;
}

/* line 246, ../../../scss/partials/_main.scss */
.textaligncenter {
  text-align: center;
}

/* Archive Recipe Image Lists */
/* line 251, ../../../scss/partials/_main.scss */
#recentrecipes {
  background: url("https://recipescdn.shubhojyoti.info/assets/images/divider.png") bottom center no-repeat;
  padding-bottom: 1em;
  margin-bottom: 3em;
}

/* line 257, ../../../scss/partials/_main.scss */
.recipelistentries {
  margin-top: 1em;
}
/* line 260, ../../../scss/partials/_main.scss */
.recipelistentries li {
  padding: 0.3em 0 0 0;
}
/* line 264, ../../../scss/partials/_main.scss */
.recipelistentries a:link {
  text-align: left;
  margin-left: 1em;
  font-size: 1rem;
}
/* line 269, ../../../scss/partials/_main.scss */
.recipelistentries a:link span {
  color: #333;
}
/* line 272, ../../../scss/partials/_main.scss */
.recipelistentries a:link span::before {
  content: ' - ';
}

/* line 279, ../../../scss/partials/_main.scss */
.recipeentry {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}
/* line 283, ../../../scss/partials/_main.scss */
.recipeentry a.recipeentryimage:link {
  display: block;
  border: 1px solid #ccc;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 10px;
  display: table;
  transition: transform 0.25s ease-in;
}
/* line 293, ../../../scss/partials/_main.scss */
.recipeentry a.recipeentryimage:hover {
  transform: translate3d(0, -5px, 0);
  box-shadow: 0 5px 0 0 #ccc;
}
/* line 298, ../../../scss/partials/_main.scss */
.recipeentry .recipelisttitle {
  text-align: center;
}
/* line 301, ../../../scss/partials/_main.scss */
.recipeentry .recipelisttitle .recipename {
  font-size: 1rem;
  padding: 0.5em 0 0;
  margin: 0;
}
/* line 307, ../../../scss/partials/_main.scss */
.recipeentry .recipelisttitle .desc {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}
/* line 313, ../../../scss/partials/_main.scss */
.recipeentry .recipelisttitle a:hover {
  text-decoration: underline;
}

/* line 319, ../../../scss/partials/_main.scss */
.sortingoptions {
  border-bottom: 1px solid #EEE1BE;
  font-size: 0.8rem;
  line-height: 1.2;
  margin: 0 0.3em !important;
  position: relative;
  z-index: 2;
}
/* line 330, ../../../scss/partials/_main.scss */
.sortingoptions > * {
  display: inline-block;
}
/* line 335, ../../../scss/partials/_main.scss */
.sortingoptions .sortrow .sortby {
  padding: 0.5em;
}
/* line 339, ../../../scss/partials/_main.scss */
.sortingoptions .sortrow .selected {
  border: 1px solid #EEE1BE;
  border-bottom: none !important;
  background-color: #fffee9;
  position: relative;
  bottom: -1px;
  z-index: 3;
}
/* line 347, ../../../scss/partials/_main.scss */
.sortingoptions .sortrow .selected a:link {
  color: #000;
  cursor: default;
}

/* Media Queries */
/* For small and medium screen remove the Top navigations and push the footer social */
@media only screen and (max-width: 64em) {
  /* line 358, ../../../scss/partials/_main.scss */
  .mainwrap {
    max-width: 100%;
  }

  /* line 362, ../../../scss/partials/_main.scss */
  .mytopnav {
    height: 7px;
  }
  /* line 365, ../../../scss/partials/_main.scss */
  .mytopnav ul {
    display: none;
  }

  /* line 370, ../../../scss/partials/_main.scss */
  figcaption {
    display: none;
  }
}
/* Comments Styles */
/* line 3, ../../../scss/partials/_comments.scss */
.showcommentblock h4 {
  color: #58592e;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 1em;
  margin-left: 1.1em;
}
/* line 10, ../../../scss/partials/_comments.scss */
.showcommentblock h4 + div {
  margin-top: 1em;
  margin-left: 1em;
}

/* line 17, ../../../scss/partials/_comments.scss */
.comment-list {
  list-style: none;
}
/* line 20, ../../../scss/partials/_comments.scss */
.comment-list li + li {
  margin-top: 2em;
}
/* line 24, ../../../scss/partials/_comments.scss */
.comment-list li {
  padding: 1em;
  border: 1px solid #EEE1BE;
  background-color: #F5F8E2;
}
/* line 30, ../../../scss/partials/_comments.scss */
.comment-list .vcard {
  border: 0;
  padding: 0;
  margin: 0 0 0 0.8em;
}

/* line 37, ../../../scss/partials/_comments.scss */
.comment-author {
  font-size: 0.8em;
}

/* line 41, ../../../scss/partials/_comments.scss */
.comment-metadata {
  text-align: right;
  font-size: 0.8em;
}

/* line 46, ../../../scss/partials/_comments.scss */
.comment-content {
  margin-top: 0.5em;
  font-size: 0.8em;
  font-weight: 300;
}
/* line 51, ../../../scss/partials/_comments.scss */
.comment-content p {
  margin-bottom: 0;
}

/* line 56, ../../../scss/partials/_comments.scss */
ul.children {
  margin-top: 1em;
  border-top: 1px solid #ddd;
  padding-top: 1em;
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.3);
}

/* line 63, ../../../scss/partials/_comments.scss */
.commentformblock {
  margin-top: 2em;
  padding-right: 1.5em;
}
/* line 67, ../../../scss/partials/_comments.scss */
.commentformblock > * {
  margin-left: 1.1em;
}
/* line 71, ../../../scss/partials/_comments.scss */
.commentformblock h4 {
  color: #58592e;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 1em;
  margin-left: 1.1em;
}
/* line 79, ../../../scss/partials/_comments.scss */
.commentformblock p {
  font-size: 1rem;
  margin-left: 1.6em;
  margin-right: 0.5em;
}
/* line 85, ../../../scss/partials/_comments.scss */
.commentformblock form {
  margin-left: 1.6em;
  margin-right: 0.5em;
}
/* line 89, ../../../scss/partials/_comments.scss */
.commentformblock form label {
  font-size: 1rem;
}

/* line 95, ../../../scss/partials/_comments.scss */
.required {
  color: #FF0000;
}

/* line 99, ../../../scss/partials/_comments.scss */
#commentform {
  padding-right: 1.5em;
}

/* line 103, ../../../scss/partials/_comments.scss */
#commentform > p {
  margin-right: 0.5em;
}

/* line 107, ../../../scss/partials/_comments.scss */
#commentform #submit {
  background-color: #9E4243;
  color: #EEEEEE;
  padding: 1em 2em;
  border: 1px solid #555;
}

/* line 114, ../../../scss/partials/_comments.scss */
#commentform #submit:hover {
  background-color: #000000;
}

/* line 118, ../../../scss/partials/_comments.scss */
#form-allowed-tags {
  display: none;
  height: 0;
}

/* line 1, ../../../scss/partials/_slider.scss */
.slider {
  margin: 2.5rem auto 0;
  max-width: 750px;
  overflow: hidden;
  position: relative;
}

/* line 8, ../../../scss/partials/_slider.scss */
.slider__switch {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 18, ../../../scss/partials/_slider.scss */
.slider__switch + span::before {
  content: '';
  display: inline-block;
  width: 11px;
  height: 11px;
  vertical-align: -0.25em;
  border-radius: 50%;
  border: 2px solid #FFF;
  box-shadow: 0 0 0 1px #8e705b;
  margin-right: 0.75em;
  transition: 0.5s ease all;
}
/* line 31, ../../../scss/partials/_slider.scss */
.slider__switch:checked + span::before {
  background: #541c02;
  box-shadow: 0 0 0 2px #541c02;
}
/* line 36, ../../../scss/partials/_slider.scss */
.slider__switch:focus + span::after {
  outline: thin dotted;
}

/* line 41, ../../../scss/partials/_slider.scss */
.slider_labels {
  margin: 0 auto;
  text-align: center;
}

/* line 46, ../../../scss/partials/_slider.scss */
.slider_labels > label {
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
}

/* line 52, ../../../scss/partials/_slider.scss */
.slider_images {
  font-size: 0;
  transition: transform 1.2s cubic-bezier(0.77, 0, 0.175, 1);
  white-space: nowrap;
  width: inherit;
  margin: 0 auto;
}
/* line 59, ../../../scss/partials/_slider.scss */
.slider_images .slide_image {
  border: 1px solid #ccc;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0 0 5px #ccc;
  padding: 10px;
  display: inline-block;
  width: inherit;
}
/* line 69, ../../../scss/partials/_slider.scss */
.slider_images figure {
  padding: 0;
  margin: 0 auto;
}
/* line 73, ../../../scss/partials/_slider.scss */
.slider_images figure img {
  padding: 0;
  border: 1px solid #ccc;
}
/* line 79, ../../../scss/partials/_slider.scss */
.slider_images figcaption {
  font-size: 16px;
  text-align: left;
  background-color: rgba(70, 25, 5, 0.8);
  position: absolute;
  bottom: 30px;
  font-style: normal;
  margin-left: 1px;
  padding: 1.5em 1.5em 0;
}
/* line 89, ../../../scss/partials/_slider.scss */
.slider_images figcaption a:link, .slider_images figcaption a:visited {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1em;
}
/* line 95, ../../../scss/partials/_slider.scss */
.slider_images figcaption a:hover {
  text-decoration: underline;
}
/* line 99, ../../../scss/partials/_slider.scss */
.slider_images figcaption a:active {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1em;
}
/* line 105, ../../../scss/partials/_slider.scss */
.slider_images figcaption .desc {
  color: #aaa;
  font-size: 0.8rem;
}
/* line 111, ../../../scss/partials/_slider.scss */
.slider_images .recipeimage.show {
  color: red;
}

/* line 116, ../../../scss/partials/_slider.scss */
.slider_images.show1 {
  transform: translate3d(0, 0, 0);
}

/* line 120, ../../../scss/partials/_slider.scss */
.slider_images.show2 {
  transform: translate3d(-100%, 0, 0);
}

/* line 124, ../../../scss/partials/_slider.scss */
.slider_images.show3 {
  transform: translate3d(-200%, 0, 0);
}

/* line 128, ../../../scss/partials/_slider.scss */
.slider_images.show4 {
  transform: translate3d(-300%, 0, 0);
}

/* line 132, ../../../scss/partials/_slider.scss */
.slider_images.show5 {
  transform: translate3d(-400%, 0, 0);
}

@media only screen and (max-width: 64em) {
  /* line 137, ../../../scss/partials/_slider.scss */
  figcaption {
    display: block !important;
  }
}
/* Sidebar Widgets */
/* line 3, ../../../scss/partials/_sidebar.scss */
.widget h3 {
  color: #58592e;
  margin: 2em 0 0 0;
  text-align: center;
  font-size: 1rem;
}
/* line 9, ../../../scss/partials/_sidebar.scss */
.widget h3:first-child {
  margin-top: 0.5em;
}
/* line 13, ../../../scss/partials/_sidebar.scss */
.widget h3 + p {
  margin-top: 1em;
  line-height: 1.8;
}
/* line 19, ../../../scss/partials/_sidebar.scss */
.widget ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  margin-top: 0.5em;
}
/* line 25, ../../../scss/partials/_sidebar.scss */
.widget ul > li {
  margin-left: 0;
  padding-left: 0;
  color: #541c02;
  text-align: center;
}
/* line 31, ../../../scss/partials/_sidebar.scss */
.widget ul > li:last-child {
  border-bottom: 0;
}
/* line 36, ../../../scss/partials/_sidebar.scss */
.widget ul > li > a:link, .widget ul > li > a:visited {
  color: #541c02;
}
/* line 40, ../../../scss/partials/_sidebar.scss */
.widget ul > li > a:hover {
  color: #333333;
}
/* line 47, ../../../scss/partials/_sidebar.scss */
.widget a {
  font-size: 0.8rem;
}

/* Sidebar 1 */
/* line 53, ../../../scss/partials/_sidebar.scss */
#sidebar-1 {
  min-height: 100%;
}
/* line 56, ../../../scss/partials/_sidebar.scss */
#sidebar-1 .widget {
  margin-top: 2em;
}

/* Sidebar-2 */
/* line 62, ../../../scss/partials/_sidebar.scss */
#sidebar-2 {
  min-height: 100%;
  background: #F5F8E2;
  border-left: 1px solid #EEE1BE;
}
/* line 67, ../../../scss/partials/_sidebar.scss */
#sidebar-2 p {
  font-size: 0.8rem;
}
/* line 71, ../../../scss/partials/_sidebar.scss */
#sidebar-2 .widget {
  border-bottom: 1px solid #EEE1BE;
  padding-top: 1em;
  padding-bottom: 1.5em;
  box-shadow: 0 2px 3px 0 rgba(255, 255, 255, 0.3);
}
/* line 77, ../../../scss/partials/_sidebar.scss */
#sidebar-2 .widget:last-child {
  border-bottom: 0;
  box-shadow: none;
}
/* line 82, ../../../scss/partials/_sidebar.scss */
#sidebar-2 .widget h3 {
  text-align: left;
}

/* Sidebar - 2 Search */
/* line 89, ../../../scss/partials/_sidebar.scss */
.searchwidget {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* line 94, ../../../scss/partials/_sidebar.scss */
.topsearch {
  margin-top: 1.5em;
  padding: 1em;
}

/* line 99, ../../../scss/partials/_sidebar.scss */
.topsearch .searchbox {
  height: 2.5rem !important;
  border-radius: 0;
}

/* line 104, ../../../scss/partials/_sidebar.scss */
.searchbutton {
  font-size: 0.8em;
  padding: 0.97em;
  color: #fff;
  width: 100%;
}

/* line 112, ../../../scss/partials/_sidebar.scss */
.tagcloud li {
  display: inline-block;
  color: #fff;
  background: #f5f8e2;
  border: 1px solid #EEE1BE;
  padding: 0 0.3em !important;
  margin-bottom: 0.3em !important;
}
/* line 120, ../../../scss/partials/_sidebar.scss */
.tagcloud li:last-child {
  border-bottom: 1px solid #EEE1BE !important;
}
/* line 125, ../../../scss/partials/_sidebar.scss */
.tagcloud li a:link, .tagcloud li a:visited, .tagcloud li a:hover, .tagcloud li a:active {
  text-align: center;
}
/* line 130, ../../../scss/partials/_sidebar.scss */
.tagcloud li:hover {
  color: #000000;
}

/* line 1, ../../../scss/partials/_pagination.scss */
.wp-pagenavi {
  text-align: center;
  margin: 1.5em auto;
}
/* line 5, ../../../scss/partials/_pagination.scss */
.wp-pagenavi .pages {
  margin-right: 1em;
}
/* line 9, ../../../scss/partials/_pagination.scss */
.wp-pagenavi > * {
  padding: 0.5em 1em;
  border: 1px solid #E4D7B6;
  font-size: 0.8em;
  margin-right: 1em;
  margin-bottom: 1em;
  display: inline-block;
}
/* line 20, ../../../scss/partials/_pagination.scss */
.wp-pagenavi > .current {
  background-color: #333333;
  color: #fff;
}

/* Font Awesome Icon Font Style overrides */
/* line 2, ../../../scss/partials/_offcanvas.scss */
span.fa-bars {
  margin: 10px 0;
  border-radius: 5px;
  background-color: #541c02;
  color: #fff;
  padding: 5px 10px;
}

/* Foundation Off-canvas Menu */
/* line 11, ../../../scss/partials/_offcanvas.scss */
.blanket {
  background-color: #000000;
  display: none;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  opacity: 0.5;
  z-index: 25;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 25, ../../../scss/partials/_offcanvas.scss */
.offcanvaslabdiv {
  text-align: right;
}

@media only screen and (max-width: 410px) {
  /* line 30, ../../../scss/partials/_offcanvas.scss */
  .offcanvaslabdiv {
    z-index: 100;
    position: relative;
  }
}
/* line 36, ../../../scss/partials/_offcanvas.scss */
.boom-right-off-canvas-menu {
  background: #F5F8E2;
  z-index: 3;
  display: none;
  opacity: 0;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-top: 0;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
}

/* line 52, ../../../scss/partials/_offcanvas.scss */
.right-off-canvas-toggle-label {
  font-size: .875rem;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}

/* line 62, ../../../scss/partials/_offcanvas.scss */
#offcanvastog {
  border: 1px solid black;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

/* line 70, ../../../scss/partials/_offcanvas.scss */
.toggle {
  display: none;
}
/* line 76, ../../../scss/partials/_offcanvas.scss */
.toggle:checked + .full-wrap > .mainwrap .boom-right-off-canvas-menu {
  display: block;
  z-index: 300;
  opacity: 1;
}
/* line 82, ../../../scss/partials/_offcanvas.scss */
.toggle:checked + .full-wrap > .mainwrap .blanket {
  display: block;
}
/* line 88, ../../../scss/partials/_offcanvas.scss */
.toggle:checked + .full-wrap > header .fa-bars:before {
  content: '\f00d';
}
/* line 92, ../../../scss/partials/_offcanvas.scss */
.toggle:checked + .full-wrap > header .fa-bars:hover {
  color: #FFFFFF;
}

/* line 100, ../../../scss/partials/_offcanvas.scss */
.offbar {
  padding: 0;
}

/* line 104, ../../../scss/partials/_offcanvas.scss */
.offsearch {
  margin: 1.5em 0.5em 0 2.2em;
}

/* line 108, ../../../scss/partials/_offcanvas.scss */
.offsearch .buttonsave {
  margin-bottom: 5px;
}

/* line 112, ../../../scss/partials/_offcanvas.scss */
.offsearch .offcanvassearch {
  height: 2.5rem;
  border-radius: 0;
}

/* line 117, ../../../scss/partials/_offcanvas.scss */
.offbar .widget {
  background-color: #f5f8e2;
  padding: 1em;
  border-bottom: 1px solid #bbb;
  margin-bottom: 5px;
}

/* line 124, ../../../scss/partials/_offcanvas.scss */
.offbar .widget h4 {
  font-size: 1rem;
}

/* line 128, ../../../scss/partials/_offcanvas.scss */
.offbar .widget:last-child {
  box-shadow: none;
  border-bottom: 0;
}

/* line 133, ../../../scss/partials/_offcanvas.scss */
.offbar .widget ul > li {
  text-align: left;
  padding-left: 1rem;
}

/* line 138, ../../../scss/partials/_offcanvas.scss */
.offlinks {
  margin: 0;
  box-shadow: 0 2px 3px 0 white;
  border-bottom: 1px solid #bbb;
  margin-bottom: 5px;
}

/* line 145, ../../../scss/partials/_offcanvas.scss */
.offlinks .widget {
  margin: 0;
  padding: 0;
}

/* line 150, ../../../scss/partials/_offcanvas.scss */
.offlinks > .mainlinks, .offlinks > .mainlinks > ul {
  padding: 0;
  margin: 0;
}

/* line 155, ../../../scss/partials/_offcanvas.scss */
.offlinks > .mainlinks > ul > li {
  background-image: none;
  background-color: #541c02;
  margin-left: 0;
  border-bottom: 1px solid #c16061;
  border-top: 1px solid #bbb;
  padding-left: 1em;
  line-height: 2.8em;
  font-size: 0.9rem;
}

/* line 166, ../../../scss/partials/_offcanvas.scss */
.offlinks > .mainlinks > ul > li > a {
  color: #fff;
  padding-left: 1em;
}

/* line 171, ../../../scss/partials/_offcanvas.scss */
.offlinks > .mainlinks > ul > li:hover {
  background: #333;
  cursor: pointer;
  border-bottom: 1px solid #fff;
}

/* line 177, ../../../scss/partials/_offcanvas.scss */
.offlinks > .mainlinks > ul > li > .icons {
  color: #f5f8e2;
}

@media only screen and (min-width: 601px) {
  /* line 182, ../../../scss/partials/_offcanvas.scss */
  .boom-right-off-canvas-menu {
    width: 350px;
  }
}
/* line 1, ../../../scss/partials/_breadcrumbs.scss */
.breadcrumb-area {
  display: none;
}

/* line 5, ../../../scss/partials/_breadcrumbs.scss */
.articlecontainer > .breadcrumb-area {
  margin-top: 1.5em;
  margin-bottom: 0 !important;
}

@media only screen and (min-width: 40.063em) {
  /* line 11, ../../../scss/partials/_breadcrumbs.scss */
  .breadcrumb-area {
    display: block;
    margin: 0 0 2em;
    border: 1px solid #EEE1BE;
  }

  /* line 19, ../../../scss/partials/_breadcrumbs.scss */
  .breadcrumb-trail {
    display: block;
    background: none;
    border: 0;
    padding: 0.5em 0.5em 0.5em 0;
  }
  /* line 25, ../../../scss/partials/_breadcrumbs.scss */
  .breadcrumb-trail > * {
    text-transform: none;
    font-size: 0.8em;
    color: #333333;
    padding-right: 0.5em;
  }
  /* line 32, ../../../scss/partials/_breadcrumbs.scss */
  .breadcrumb-trail > *:before {
    content: '';
    font-size: 1em;
  }
}
/* line 1, ../../../scss/partials/_blogarchive.scss */
.blog-archive {
  margin: 1em;
}
/* line 5, ../../../scss/partials/_blogarchive.scss */
.blog-archive li .recipeheading {
  font-size: 1.2em;
}
/* line 9, ../../../scss/partials/_blogarchive.scss */
.blog-archive li .subtitle {
  font-style: italic;
}

/* line 1, ../../../scss/partials/_gsearch.scss */
.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 8, ../../../scss/partials/_gsearch.scss */
.topsearch td.gsc-search-button {
  height: 2.5em !important;
  background-color: #541c02 !important;
}
/* line 13, ../../../scss/partials/_gsearch.scss */
.topsearch td.gsib_a {
  height: 2.5em !important;
}
/* line 17, ../../../scss/partials/_gsearch.scss */
.topsearch input.gsc-input, .topsearch .gsc-input-box, .topsearch .gsc-input-box-hover, .topsearch .gsc-input-box-focus {
  border-color: transparent;
}

/* Back to Top of the Page arrow icon */
/* line 2, ../../../scss/partials/_backtotop.scss */
#backtotopbutton {
  position: fixed;
  right: 0.9em;
  bottom: 0.4em;
  background-color: #ffffff;
  border-radius: 1px;
  border: 1px solid #ccc;
}
/* line 10, ../../../scss/partials/_backtotop.scss */
#backtotopbutton a {
  display: inherit;
  padding: 0.35em;
}
/* line 14, ../../../scss/partials/_backtotop.scss */
#backtotopbutton a img {
  height: 28px;
}
