{{ partial "header.html" . }}
            <main class="small-16 large-10 columns large-order-2">
                <h2 class="hide show-for-sr">Recipe Entry</h2>
                <div class="articlecontainer">
                    <article id="maincontent" class="post row" vocab="http://schema.org/" typeof="Recipe">
                        <div class="ind-post small-16 columns">
                            {{ partial "breadcrumbs.html" . }}
                            <div class="row" id="recipemaincontent" tabindex="-1">
                                <h3 class="singletitle columns small-12 small-order-2">{{ .Title }}</h3>
                                <aside class="columns small-12 small-order-3">
                                    <span class="description">{{ .Params.subtitle }}</span>
                                    <div class="smallmeta row clearfix"><time datetime='2015-01-15 19:32:00' property="datePublished"><span class="fa fa-clock-o fa-fw"></span>{{ .Date.Format "January 2, 2006" }}</time>
                                        {{$nameParts := split .Params.author " "}}
                                        <address><span class="fa fa-user fa-fw"></span><a href="/about" property="author" vocab="http://schema.org/" typeof="Person"><span property="givenName">{{ index $nameParts 0 }}</span> <span property="familyName">{{ index $nameParts 1 }}</span><meta property="url" content="/about"></a></address>
                                        <div>
                                            <span class="fa fa-comment-o fa-fw"></span>
                                            <a href="#commentsection">Leave a comment</a>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                            <div class="content-post" property="description">
                                {{ .Content }}
                            </div>
                        </div>
                        <div id="commentsection">
                            {{ partial "disqus.html" . }}
                        </div>
                    </article>
                </div>
            </main>
{{ partial "sidebar1.html" . }}
{{ partial "sidebar2.html" . }}
{{ partial "offcanvasmenu.html" . }}
{{ partial "footer.html" . }}
