<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/images/er_logo_small1.png" type="image/x-icon" />
    <link rel="canonical" href="{{ .Permalink }}">
    <title>{{ partial "headertitle.html" . }}</title>
    {{ partial "socialmeta.html" . }}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Serif:700" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/foundation.css" type="text/css"/>
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
</head>
<body{{ if and .IsPage (eq .Title "Search") }} class="searchresultspage"{{ end }}>
    <input type="checkbox" id="offcanvastog" class="toggle" aria-hidden="true">
    <div class="full-wrap">
        <a class="skipcontent" href="#recipemaincontent">Skip to main content</a>
        <h1 class="hide show-for-sr">Enjoyable Recipes</h1>
        <header class="row align-spaced">
            <div class="small-16 medium-16 large-3 large-offset-2 columns">
                <div class="row header">
                    <div class="mylogo small-12 medium-14 columns">
                        <div>
                            {{ partial "logo.html" . }}
                        </div>
                    </div>
                    <div class="offcanvaslabdiv small-4 medium-2 hide-for-large columns" aria-hidden="true">
                        <label for="offcanvastog" class="right-off-canvas-toggle-label"><span class="right-off-canvas-toggle right fa fa-2x fa-bars"></span></label>
                    </div>
                </div>
            </div>
            <div class="prisocial large-4 large-offset-6 show-for-large columns align-self-bottom">
                <div class="row align-center">
                    <a href="https://www.facebook.com/enjoyablerecipes" title="Like us on Facebook"><span class="fa fa-facebook fa-lg fa-fw"></span></a>
                    <a href="https://twitter.com/enjoyablerecipe" title="Follow us on Twitter"><span class="fa fa-twitter fa-lg fa-fw"></span></a>
                    <a href="https://plus.google.com/+Enjoyablerecipes/" title="Join our Google Circle"><span class="fa fa-google-plus fa-lg fa-fw"></span></a>
                    <a href="/feed/" title="Subscribe to our RSS Feed"><span class="fa fa-rss fa-lg fa-fw"></span></a>
                </div>
            </div>
        </header>

        <div class="mytopnav">
            <div class="row navtop">
                <div class="small-16 small-offset-2 columns show-for-large-up">
                    <nav>
                        <ul class="row align-left">
                            <li class="columns shrink"><a href="/recipes/">Full Recipe List</a></li>
                            <li class="columns shrink"><a href="/specialrecipes/low-carb/">Low Carb</a></li>
                            <li class="columns shrink"><a href="/specialrecipes/moms-kitchen/">Mom's Kitchen</a></li>
                            <li class="columns shrink"><a href="/offthemenu/">Off the Menu</a></li>
                            <li class="columns shrink"><a href="/blog/">Blog Archive</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div class="mainwrap row align-center">
            <div class="small-16 columns large-order-2 blanket" aria-hidden="true"></div>
