<div class="searchwidget small-16 align-self-top">
                    <form id="form2_search" action="/search/" method="get">
                        <div class="row">
                            <div class="large-16 columns">
                                <input id="search-input" name="q" type="search" value="Search this Blog..." onfocus="if(this.value  == 'Search this Blog...') { this.value = ''; } " onblur="if(this.value == '') { this.value = 'Search this Blog...'; }" />
                            </div>
                        </div>
                    </form>
                </div>
