            <!-- Sidebar 1 -->
            <aside id="sidebar-1" class="large-2 columns large-order-1 show-for-large">
                <h2 class="hide show-for-sr">Recipe Classification</h2>
                <div class="widget">
                    <h3>By Courses</h3>
                    <ul>
                        {{ range $name, $taxonomy := .Site.Taxonomies.recipecourses }}
                        {{ $nameparts := (split (humanize $name) " ")}}
                        {{ $.Scratch.Set "finaltag" " "}}
                        {{ range $nameparts }}
                        {{ $.Scratch.Add "finaltag" (humanize .) }}
                        {{ $.Scratch.Add "finaltag" " "}}
                        {{ end }}
                        {{ $recipetag := $.Scratch.Get "finaltag" }}
                        <li><a href="/recipecourses/{{ $name | urlize }}">{{ $recipetag | replaceRE "^ (.*) $" "$1"}}</a></li>
                        {{ end }}
                    </ul>
                </div>
                <div class="widget">
                    <h3>By Types</h3>
                    <ul>
                        {{ range $name, $taxonomy := .Site.Taxonomies.recipetypes }}
                        {{ $nameparts := (split (humanize $name) " ")}}
                        {{ $.Scratch.Set "finaltag" " "}}
                        {{ range $nameparts }}
                        {{ $.Scratch.Add "finaltag" (humanize .) }}
                        {{ $.Scratch.Add "finaltag" " "}}
                        {{ end }}
                        {{ $recipetag := $.Scratch.Get "finaltag" }}
                        <li><a href="/recipetypes/{{ $name | urlize }}">{{ $recipetag | replaceRE "^ (.*) $" "$1"}}</a></li>
                        {{ end }}
                    </ul>

                </div>
                <div class="widget">
                    <h3>By Categories</h3>
                    <ul>
                        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                        {{ $nameparts := (split (humanize $name) " ")}}
                        {{ $.Scratch.Set "finaltag" " "}}
                        {{ range $nameparts }}
                        {{ $.Scratch.Add "finaltag" (humanize .) }}
                        {{ $.Scratch.Add "finaltag" " "}}
                        {{ end }}
                        {{ $recipetag := $.Scratch.Get "finaltag" }}
                        <li><a href="/categories/{{ $name | urlize }}">{{ $recipetag | replaceRE "^ (.*) $" "$1"}}</a></li>
                        {{ end }}
                    </ul>
                </div>
            </aside>
