            <!-- Sidebar 1 -->
            <aside id="sidebar-1" class="large-2 columns large-order-1 show-for-large">
                <h2 class="hide show-for-sr">Recipe Classification</h2>
                <div class="widget">
                    <h3>By Courses</h3>
                    <ul>
                        {{ range $name, $taxonomy := .Site.Taxonomies.recipecourses }}
                        <li><a href="/recipecourses/{{ $name | urlize }}/">{{ $name | humanize | title }}</a></li>
                        {{ end }}
                    </ul>
                </div>
                <div class="widget">
                    <h3>By Types</h3>
                    <ul>
                        {{ range $name, $taxonomy := .Site.Taxonomies.recipetypes }}
                        <li><a href="/recipetypes/{{ $name | urlize }}/">{{ $name | humanize | title }}</a></li>
                        {{ end }}
                    </ul>

                </div>
                <div class="widget">
                    <h3>By Categories</h3>
                    <ul>
                        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                        <li><a href="/categories/{{ $name | urlize }}/">{{ $name | humanize | title }}</a></li>
                        {{ end }}
                    </ul>
                </div>
            </aside>
