/* Main Header */
.header {
    position: relative;
}

.mylogo {
    padding: 0.35em 0;
    position: relative;
}

.mylogo > :first-child {
    .logosvg {
        width: 430px;
        transition: width 0.2s;

        @media only screen and (max-width: 550px) {
            width: 320px;
        }

        @media only screen and (max-width: 410px) {
            .svglogotext {
                display: none;
            }
        }
    }
}

/* Top Navigation */
.mytopnav {
    background: #541c02 url(/assets/images/primarynavribbon.png) repeat-x;
    height: 49px;
    position: relative;
    z-index: 2;

    ul {
        list-style-type: none;

        > li {
            display: inline-block;
            padding: 0.5em 1.5em;
            box-sizing: border-box;

            > a {
                &:link, &:visited {
                    box-sizing: border-box;
                    color: #fff;
                    font-size: 0.8em;
                    vertical-align: 0.1rem;
                }

                &:hover {
                    color: #ffff00;
                    font-weight: bold;
                }
            }
        }

        &:first-child {
            padding-left: 0;
        }
    }
}

@media only screen and (max-width: 64em) {
    .mylogo {
        padding-left: 1em;
    }
}
