/* Sidebar Widgets */
.widget {
    h3 {
        color: #58592e;
        margin: 2em 0 0 0;
        text-align: center;
        font-size: 1rem;

        &:first-child {
            margin-top: 0.5em;
        }

        + p {
            margin-top: 1em;
            line-height: 1.8;
        }
    }

    ul {
        margin-left: 0;
        padding-left: 0;
        list-style: none;
        margin-top: 0.5em;

        > li {
            margin-left: 0;
            padding-left: 0;
            color: $color-body-link;
            text-align: center;

            &:last-child {
                border-bottom: 0;
            }

            > a {
                &:link, &:visited {
                    color: $color-body-link;
                }

                &:hover {
                    color: $color-body-link-hover;
                }
            }
        }
    }

    a {
        font-size: 0.8rem;
    }
}

/* Sidebar 1 */
#sidebar-1 {
    // min-height: 100%;

    .widget {
        margin-top: 2em;
    }
}

/* Sidebar-2 */
#sidebar-2 {
    // min-height: 100%;
    background: #F5F8E2;
    border-left: 1px solid #EEE1BE;

    p {
        font-size: 0.8rem;
    }

    .widget {
        border-bottom: 1px solid #EEE1BE;
        padding-top: 1em;
        padding-bottom: 1.5em;
        box-shadow: 0 2px 3px 0 rgba(255, 255, 255, 0.3);

        &:last-child {
            border-bottom: 0;
            box-shadow: none;
        }

        h3 {
            text-align: left;
        }
    }
}

.tagcloud {
    li {
        display: inline-block;
        color: #fff;
        background: #f5f8e2;
        border: 1px solid #EEE1BE;
        padding: 0 0.3em !important;
        margin-bottom: 0.3em !important;

        &:last-child {
            border-bottom: 1px solid #EEE1BE !important;
        }

        a {
            &:link, &:visited, &:hover, &:active {
                text-align: center;
            }
        }

        &:hover {
            color: #000000;
        }
    }
}

.prisocial {
    bottom: 0;
    right: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 1em;

    // padding-right: 2em;

    a {
        padding: 0.35em 0.25em;
        border: 1px solid #541c02;
        border-radius: 50%;
        background-color: #541c02;
        color: #eeb188;

        &:link, &:visited {
            display: inline-block;
            font-size: 1.2em;
            margin-right: 10px;
        }

        &:hover {
            color: #000;
            background-color: #F5F8E2;
        }

        span {
            text-align: center;
        }
    }
}
