{{ partial "header.html" . }}
            <main class="small-16 large-10 columns large-order-2">
                <h2 class="hide show-for-sr">Recipe Entry</h2>
                <div class="articlecontainer">
                    <section id="recipemaincontent" tabindex="-1">
                    <article class="post row">
                        <div class="ind-post small-16 columns">
                            <div class="row">
                                <h2 class="pagetitle singletitle columns small-12 small-order-2">Special Recipes</h2>
                            </div>
                            <div class="content-post" property="description">
                                <p>All the recipes in this blog are categorized under different "{{ .Data.Plural }}".</p>
                            </div>
                        </div>
                        {{ $data := .Data }}
                        <ul class="blog-archive small-16 columns">
                            {{ range $key, $value := .Data.Terms }}
                            <li>
                                <p><a href="/{{ $data.Plural }}/{{ $key | urlize}}" rel="bookmark" class="recipeheading">{{ $key | humanize }}</a>
                                <span class="subtitle"> - {{ len $value }} recipes</span></p>
                            </li>
                            {{ end }}
                        </ul>
                    </article>
                    </section>
                </div>
            </main>
{{ partial "sidebar1.html" . }}
{{ partial "sidebar2.html" . }}
{{ partial "offcanvasmenu.html" . }}
{{ partial "footer.html" . }}
